/* breadcrumbs.css */
ul#breadcrumbs {
  background: #343943;
}

#wireframe_breadcrumbs ul {
  padding: 12px;
  height: 57px;
  font-size: 12px;
}

#wireframe_main_container {
  top: 90px;
  bottom: 38px;
}

#wireframe_breadcrumbs ul li a {
  color: #b3b3b3;
  padding-right: 25px;
  padding-left: 10px;
}

#wireframe_breadcrumbs ul li span.current {
  color: #eee;
  padding-left: 15px;
}

/* site navigation */
#wireframe_page_tabs ul#page_tabs {
  bottom: 0;
  top: 0;
}

#wireframe_page_tabs ul#page_tabs li a {
  font-size: 14px;
  border-radius: 0;
  padding: 10px;
  color: #b3b3b3;
}

#wireframe_page_tabs ul#page_tabs li a.current {
  padding: 10px;
  background: transparent;
  color: #fff;
  border: 0;
}

#wireframe_page_tabs {
  border-bottom: 0;
  height: 44px;
}

#wireframe_breadcrumbs {
  top: 44px;
}