/* task-details.css */
html,
body {
  font: 17px "Roboto", Verdana, Arial, Helvetica, sans-serif
}

.formatted_content {
  font-size: 17px;
  line-height: 1.4;
  color: #333;
}

.object_inspector {
  margin-bottom: 40px !important;
}

.object_wrapper .object_body.with_shadow,
.object_inspector {
  box-shadow: none;
  border-radius: 0;
}

.object_inspector.with_actions ul.actions {
  background: transparent;
  border-radius: 0;
  border-top: 0;
  border-bottom: 0;
}

.object_inspector .head {
  background-image: none;
}

#wireframe_page_title h1 {
  font-size: 22px;
  color: #333;
}

#wireframe_content {
  background-color: transparent;
  font-size: 14px;
}

#wireframe_page_title {
  border: 0;
  background-image: none;
  padding-top: 13px;
  padding-bottom: 14px;
}

.wireframe_content_wrapper {
  border-bottom: 1px solid #eee;
}

.wireframe_content_wrapper.first {
  max-width: none;
  padding-left: 0;
  padding-right: 0;
  padding-top: 60px;
  background-color: #f2f8f8;
}

.wireframe_content_wrapper.first .head {
  background-color: #f2f8f8;
  border: 0 !important;
}

.object_inspector.with_actions ul.actions a {
  border-left-color: #eee;
}

.object_inspector td.widget {
  border-left-color: #eee;
}

#wireframe_page_title #page_title_actions {
  margin-top: 0;
}

#wireframe_page_title #page_title_actions .title_action {
  border-left: 0;
  height: 39px;
}

#wireframe_page_title #page_title_actions .title_action a.title_action_button,
#wireframe_page_title #page_title_actions .title_action span.title_action_button {
  font-size: 14px;
  background-image: none !important;
  color: #454545;
}

#page_action_new_task a {
  background-color: yellowgreen !important;
  padding: 0.25em 1em !important;
  color: #fff !important;
}

#page_action_new_task a:hover {
  background-color: #7EA827 !important;
}

#wireframe_page_title #page_title_actions .title_action span.title_action_button {
  padding: 0.25em 1em !important;
}

#wireframe_page_title #page_title_actions .title_action .title_actions_dropdown {
  top: 39px;
}

.pill {
  border-radius: 0;
  font-size: 11px;
  font-weight: normal;
  padding: 3px 8px;
}

div.object_comments .comment .comment_content_container {
  border: 0;
  border-bottom: 1px solid #eee;
  border-radius: 0;
  background: #f2f8f8;
  padding: 20px 10px;
}

div.object_comments .comment {
  margin-top: 40px;
  margin-bottom: 40px;
  padding-top: 40px;
  padding-bottom: 10px;
}

div.object_comments .comment .comment_avatar_container {
  top: 38px;
  background-image: none;
}

div.object_comments .comment .options span {
  top: 55px;
  font-size: 36px;
  color: #dfdfdf;
}

div.object_subtasks table.subtasks_table td.task_meta a.label,
div.object_subtasks table.subtasks_table td.task_meta span.label {
  border-radius: 0;
}

table.subtasks_table {
  background-color: transparent;
}

div.object_subtasks td {
  border: 0;
  padding: 10px 15px 10px 10px;
}

div.object_subtasks table.subtasks_table tr.subtask:hover {
  background-color: #f2f8f8;
}

div.object_subtasks {
  border-top: 0;
  margin-top: 40px;
}

div.object_subtasks table.subtasks_table td.task_meta {
  border-right: 1px solid #eee;
}

div.object_subtasks table.subtasks_table td.task_meta a.label {
  font-size: 11px;
}

.object_history {
  font-family: Menlo, monospace;
  opacity: 0.5;
}
.object_history_logs {
  background-color: transparent;
}

.object_history_logs .object_history_log {
  border-top: 0;
}

.object_history_logs ul {
  border-left: 0;
}

.object_history_logs .object_history_modification_head {
  color: #999;
}

.comment_content_container .formatted_content,
.comment_content_container .formatted_content p {
  font-size: 15px;
}

.formatted_content span.mention {
  padding: 2px 4px;
  border: 0;
  border-radius: 0;
}

/* task options (overlay) */
#wireframe_page_title #page_title_actions .title_action .title_actions_dropdown {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  width: 220px;
}

.menu_dropdown .object_options {
  font-size: 13px;
}

.menu_dropdown .object_options li a {
  padding-left: 26px;
}

/* comment buttons */
.section_button {
  background-color: yellowgreen;
  background-image: none;
}

.section_button:hover {
  background-color: #7EA827;
}

.section_button span {
  background: none;
  font-size: 14px;
  text-shadow: none;
  color: #fff;
}

.section_button span img {
  display: none;
}

/* comments textarea */
.redactor_box .redactor_editor.redactor_visual_editor_textarea,
.redactor_box .redactor_editor.redactor_visual_editor_textarea * {
  font-size: 14px !important;
  font-family: 'Menlo', monospace !important;
}

.object_comments .redactor_visual_editor_textarea.redactor_editor {
  max-height: 400px;
}

.redactor_box {
  border-color: #dedede !important;
}

.redactor_box .redactor_toolbar {
  background: #f8f8f8;
  border-bottom: 1px solid #dedede;
}

.redactor_toolbar {
  box-shadow: none;
}

.link_button {
  background: none;
}

.link_button span.inner {
  background: none;
  text-shadow: none;
}

div.object_comments .comment_form_buttons_wrapper .comment_form_main_buttons {
  background: none;
  float: none;
}

div.object_comments .comment_form_buttons_wrapper {
  display: flex;
  align-items: center;
  border-top-color: #eee !important;
  background: #f2f8f8 !important;
}

div.object_comments .comment .avatar {
  border-radius: 40px;
}

ul.attachments_table .filename {
  font-size: 11px;
}

/* buttons */
button.default, submit.default {
  background: yellowgreen;
  text-shadow: none;
  border: none;
  box-shadow: none;
  font-size: 14px;
  padding: 0.5em 1em;
  border-radius: 0;
  font-family: 'Open Sans', HelveticaNeue, sans-serif;
}

.comment_form_main_buttons button {
  margin-right: 10px;
}

form div.button_holder {
  font-size: 13px !important;
}

pre, code {
  font-family: 'Menlo', monospace;
}

.object_wrapper .object_body .object_content_wrapper .object_body_content .syntax_higlighted.source-code {
  border-top: 0;
  border-bottom: 0;
}

div.syntax_higlighted div.syntax_higlighted_line_numbers {
  background: #f2f2f2;
  border: 0;
  color: #ddd;
}

div.syntax_higlighted div.syntax_higlighted_source {
  border: 0;
  background: #f8f8f8;
}

.object_wrapper .object_body .object_content_wrapper .object_body_content .syntax_higlighted.source-code pre {
  padding: 20px;
}

div.objects_list_wrapper div.objects_list div.objects_list_body div.object_list_group div.object_list_group_head {
  font-size: 14px;
}

div.objects_list_wrapper div.objects_list div.objects_list_body tr td {
  padding: 10px 10px !important;
}

#wireframe_page_title #page_title span.widget span {
  position: relative;
  top: -2px;
}

/* tasks-list.css */
span.label_tag span.label_overlay {
  background: none;
}

div.objects_list_wrapper div.objects_list div.objects_list_body div.object_list_group div.object_list_group_head {
  background-color: rgba(70, 78, 71, 0.66);
  text-transform: uppercase;
  color: #fff;
}

div.objects_list_wrapper div.objects_list {
  background: #f2f8f8;
}

div.objects_list_wrapper div.objects_list div.objects_list_body tr.selected td {
  background: rgba(70, 78, 71, 0.4) !important;
  border-top: 0 !important;
  border-bottom: 0 !important;
  text-shadow: rgba(51, 51, 51, 0.37) 0 1px;
}

div.objects_list_wrapper div.objects_list div.objects_list_body div.object_list_group div.object_list_group_head span.expanded {
  background-image: none;
}

div.objects_list_wrapper div.objects_list div.objects_list_body div.object_list_group div.object_list_group_head {
  border-bottom: 0;
}

div.objects_list_wrapper div.objects_list div.objects_list_body tr td {
  border-top: 0 !important;
  border-bottom: 1px solid #eee !important;
}

div.objects_list_wrapper div.objects_list div.objects_list_body {
  border-right-color: #ddd;
}

span.label_tag span.label_background {
  width: 12px;
  height: 12px;
  top: 3px;
}

#tasks tr.objects_list_item span.label_tag {
  left: -8px !important;
}

#tasks tr.objects_list_item .task_name_wrapper {
  padding-left: 16px;
}

div.objects_list_wrapper div.objects_list div.objects_list_body div.object_list_group div.object_list_group_head span.object_list_group_count {
  background: none;
  border: 0;
  color: rgba(255, 255, 255, 0.32);
}

div.objects_list_wrapper div.objects_list div.objects_list_body tr:hover td {
  border-top: 0 !important;
}

div.objects_list_wrapper div.objects_list_head {
  border-right: 1px solid #ddd;
  background: #5A635C;
  padding: 0;
}

div.objects_list_wrapper div.objects_list_head div.object_list_filter {
  border-right: 1px solid #808782;
}

div.objects_list_wrapper div.objects_list_head div.object_list_filter input {
  border: 0;
  border-radius: 0;
  background: transparent;
  padding: 8px;
  font-size: 13px;
  margin-left: 3px;
  color: #eee;
}

div.objects_list_wrapper div.objects_list_head div.object_list_filter input:focus {
  border: 0;
}

div.objects_list_wrapper div.objects_list_head div.object_list_options li.object_list_option {
  border-left: 0;
  border-right: 0;
}

div.objects_list_wrapper div.objects_list_head div.object_list_options {
  border-left: 0;
  border-right: 1px solid #ddd;
}

/* breadcrumbs.css */
ul#breadcrumbs {
  background: #343943;
}

#wireframe_breadcrumbs ul {
  padding: 12px;
  height: 57px;
  font-size: 12px;
}

#wireframe_main_container {
  top: 90px;
  bottom: 38px;
}

#wireframe_breadcrumbs ul li a {
  color: #b3b3b3;
  padding-right: 25px;
  padding-left: 10px;
}

#wireframe_breadcrumbs ul li span.current {
  color: #eee;
  padding-left: 15px;
}

/* site navigation */
#wireframe_page_tabs ul#page_tabs {
  bottom: 0;
  top: 0;
}

#wireframe_page_tabs ul#page_tabs li a {
  font-size: 14px;
  border-radius: 0;
  padding: 10px;
  color: #b3b3b3;
}

#wireframe_page_tabs ul#page_tabs li a.current {
  padding: 10px;
  background: transparent;
  color: #fff;
  border: 0;
}

#wireframe_page_tabs {
  border-bottom: 0;
  height: 44px;
}

#wireframe_breadcrumbs {
  top: 44px;
}

/* dashboard.css */
#homescreen_tab div.homescreen_tab_column_wrapper.wide div.homescreen_tab_column {
  border-radius: 0;
  box-shadow: none;
  border-color: #eee;
  background-color: #f2f8f8;
}

#homescreen_tab div.homescreen_tab_column_wrapper.narrow .homescreen_widget .head .head_inner,
#homescreen_tab div.homescreen_tab_column_wrapper.narrow .homescreen_widget .head,
#homescreen_tab div.homescreen_tab_column_wrapper.narrow .homescreen_widget .body .body_inner,
#homescreen_tab div.homescreen_tab_column_wrapper.narrow .homescreen_widget .body {
  background: none;
}

#homescreen_tab div.homescreen_tab_column .homescreen_widget .body table.common td {
  padding: 10px;
}

div.assignments_list div.assignment_filter_result_group_inner_wrapper {
  background-color: #f2f8f8;
  box-shadow: none;
}

/* footer.css */
#wireframe_menu #menu_item_profile img {
  border-radius: 32px;
}

.bottom_options li a.first_level_item {
  font-size: 12px;
  position: relative;
  top: 4px;
}

#wireframe_statusbar {
  height: 38px;
}

/* side navigation */
#wireframe_menu #menu:not(.popup_open) li.current.has_popup .icon,
#wireframe_menu li.current:hover .label,
#wireframe_menu #menu:not(.popup_open) li.current .icon,
#wireframe_menu #menu li.has_popup .icon {
  background-image: none;
}

#wireframe_menu .label {
  border-radius: 0;
  font-size: 14px;
}

/* project dashboard */
#project_home .project_home_left_inner {
  box-shadow: none;
  border-radius: 0;
  border-color: #eee;
  border-left: 0;
  border-right: 0;
  margin-left: 40px;
  margin-right: 40px;
}

#project_home .project_home_right .project_overview_box_content {
  background: none;
}

#project_home .project_home_right_inner {
  margin-top: 25px;
}

#project_home .project_home_right .project_overview_box_title,
#project_home .project_home_right .project_overview_box_title h2 {
  background: none;
}

#project_home .project_home_right_inner .object_wrapper .wireframe_content_wrapper {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

#project_home .project_home_right .project_overview_box_title h2,
#project_home .project_home_right .project_overview_box_content .project_overview_box_content_inner {
  padding: 20px 30px;
  background: none;
}

#project_home .project_home_left .project_overview_box_title h2 {
  font-size: 14px;
}

#project_home .project_home_left .project_overview_box {
  margin-bottom: 30px;
}

div.activity_log table.common.day_activity_logs th.date,
div.activity_log table.common.day_activity_logs th,
table.common th,
table.common tr th:first-child,
table.common tr th:last-child {
  background: none;
}

div.activity_log table.common.day_activity_logs {
  margin-bottom: 40px;
}

div.activity_log table.common.day_activity_logs td {
  padding: 15px 10px !important;
}

span.object_type {
  font-size: 11px;
  font-weight: normal;
}

span.object_type.inverse {
  border-radius: 0;
}

#project_home #project_details #project_progress {
  margin-top: 40px;
}

#late_today td,
#upcoming td {
  font-size: 13px;
  padding: 8px;
}

/* overlay side menu */
ul.main_menu_projects_list li a,
ul.main_menu_projects_tab_list li a {
  font-size: 14px !important;
}

ul.main_menu_projects_list li a img,
ul.main_menu_projects_tab_list li a img {
  top: 11px;
}

ul.main_menu_projects_list li a,
ul.main_menu_projects_tab_list li a {
  padding:8px 36px;
  border-radius: 0;
}

ul.main_menu_projects_list li a {
  background-position: calc(100% - 10px) center;
}

#menu .menu_navigation_item.current {
  background-color: rgba(255, 255, 255, 0.9) !important;
}

#menu #menu_popup #menu_popup_header {
  border-bottom: 0;
}

#menu #menu_popup {
  border-left: 0;
  border-right: 0;
  box-shadow: 1px 0 3px rgba(0, 0,0, 0.3);
}

#menu #menu_popup_submenu {
  box-shadow: 1px 0 3px rgba(0, 0,0, 0.3);
}

#menu_popup_projects_filter {
  width: 160px;
  border-radius: 0;
}

#menu #menu_popup_submenu #menu_popup_submenu_background,
#menu #menu_popup_submenu {
  border-radius: 0;
}

/* new task / edit task overlay */
.flyout_dialog_wrapper {
  border-radius: 0;
}

.flyout_dialog_title_wrapper,
.flyout_dialog_wrapper .button_holder {
  background-color: #f2f8f8;
  background-image: none;
  border-radius: 0;
}

.flyout_dialog_title_wrapper h2 {
  font-size: 14px;
}

.flyout_dialog_content {
  border-radius: 0;
}

form div.control_holder label.main_label {
  font-size: 13px;
}

form div.control_holder {
  margin: 8px 0;
}

form input[type=text],
form input[type=email],
form textarea,
form .a51editor {
  font-size: 13px;
}

button, input, textarea, select {
  font-family: Roboto, Verdana, Arial, sans-serif;
}

select {
  font-size: 16px;
}

div.select_asignees .user_group li.group_user span,
div.select_subscribers .user_group ul.group_users li label {
  font-size: 13px;
}

.group_users li {
  margin: 5px 0;
}

div.select_asignees input[type=checkbox] {
  margin-right: 5px;
}

select.select_estimate.short {
  width: 66px !important;
}

form.big_form div.big_form_wrapper {
  bottom: 53px;
}

/* logged hours */
table.common td {
  font-size: 14px;
  padding: 10px;
}

div.object_time_and_expenses ul.object_tracking_totals li,
div.object_time_and_expenses ul.object_tracking_totals li span.label,
div.object_time_and_expenses ul.object_tracking_totals li span.value {
  border-radius: 0;
  box-shadow: none;
  border: 0;
}

div.object_time_and_expenses ul.object_tracking_totals li span.label,
div.object_time_and_expenses ul.object_tracking_totals li span.value,
div.object_time_and_expenses ul.object_tracking_totals li.object_tracking_totals_estimated_time span.value {
  display: block;
  float: none;
  width: 100%;
  font-size: 14px;
  text-align: center;
}

.object_tracking_totals {
  margin-top: 30px;
}

div.object_time_and_expenses ul.object_tracking_totals li.object_tracking_totals_estimated_time span.value,
div.object_time_and_expenses ul.object_tracking_totals li.object_tracking_totals_tracked_time span.value,
div.object_time_and_expenses ul.object_tracking_totals li.object_tracking_totals_tracked_expenses span.value {
  font-size: 17px;
  color: #454545;
}

div.object_time_and_expenses div.table_wrapper {
  padding: 30px;
}

div.object_time_and_expenses table td.record_date {
  width: 144px;
}

button,
submit {
  background-image: none;
  background-color: yellowgreen;
  color: #fff !important;
  text-shadow: none;
  border: 0;
  border-radius: 0;
  box-shadow: none;
}

button:hover,
submit:hover {
  background-color: #7EA827;
}
