/* tasks list */
span.label_tag span.label_overlay {
  background: none;
}

div.objects_list_wrapper div.objects_list div.objects_list_body div.object_list_group div.object_list_group_head {
  background-color: rgba(70, 78, 71, 0.66);
  text-transform: uppercase;
  color: #fff;
}

div.objects_list_wrapper div.objects_list {
  background: #f2f8f8;
}

div.objects_list_wrapper div.objects_list div.objects_list_body tr.selected td {
	background: rgba(70, 78, 71, 0.4) !important;
  border-top: 0 !important;
  border-bottom: 0 !important;
  text-shadow: rgba(51, 51, 51, 0.37) 0 1px;
}

div.objects_list_wrapper div.objects_list div.objects_list_body div.object_list_group div.object_list_group_head span.expanded {
  background-image: none;
}

div.objects_list_wrapper div.objects_list div.objects_list_body div.object_list_group div.object_list_group_head {
  border-bottom: 0;
}

div.objects_list_wrapper div.objects_list div.objects_list_body tr td {
  border-top: 0 !important;
  border-bottom: 1px solid #eee !important;
}

div.objects_list_wrapper div.objects_list div.objects_list_body {
  border-right-color: #eee;
}

span.label_tag span.label_background {
  width: 12px;
  height: 12px;
  top: 3px;
}

#tasks tr.objects_list_item span.label_tag {
  left: -8px !important;
}

#tasks tr.objects_list_item .task_name_wrapper {
  padding-left: 16px;
}

div.objects_list_wrapper div.objects_list div.objects_list_body div.object_list_group div.object_list_group_head span.object_list_group_count {
  background: none;
  border: 0;
  color: rgba(255, 255, 255, 0.32);
}

div.objects_list_wrapper div.objects_list div.objects_list_body tr:hover td {
  border-top: 0;
}